

#rotator_btn_Container {
	float:left;
	border:0px;
	background-color:#3d3e2e;
}

.rotator_btn_slot {
	width:118px;
	height: 60px;
	clear:both;
	float:none;
	margin:0px;
	/* dingdong */
	border-bottom:1px solid #000000;
	font-family:Arial;
	background-color:#0068cb;
}


/*
 * Focused and :hover colors can be changed as desired.
 */
.rotator_btn_slot_Focused {
	background-color:#000;
}

div.rotator_btn_slot:hover {
	background-color:#000;
}
/*----------------------------------------*/

.rotator_btn_slot a {
	color:#ffffff;
	text-decoration:none;
}

.rotator_btn_slot_content {
	position:relative;
	height:auto;
	padding:0px 5px 0px 5px;
	overflow:hidden;
	text-indent:0px;
}

.rotator_btn_slot h2 {
	font-size:11px;
	font-weight:bold;
	margin:0px;
}



.rotator_btn_slot .teaser {
	font-size:11px;
	font-weight:normal;
	color:#e0e0e0;
	text-indent:0px;
}

.rotator_btn_slot .teaser a {
	color:#efefef;
}




#rotator_overlay {
	width:480px;height:100px;
	position: relative;
	z-index:99;
	text-align:left;
	top:-101px;
	left:118px;
	filter:alpha(opacity=80);-khtml-opacity:0.8; -moz-opacity:0.8; opacity:0.8;
	text-shadow:0 0 0 #000;
	/* dingdong */
	background-color:#222;
	border-top:1px solid #000;
	color:#fff;
}

/*
 * careful with font sizes - risk of blowing out the sides or top...
 */

#rotator_overlay .title {
	padding:5px 10px 3px 10px;
	margin:0px;
	/* dingdong */
	text-align:left;
	color:#fff;
	font-size:18px;
	font-weight:bold;
}


#rotator_overlay .teaser {
	padding:3px 10px 3px 10px;
	margin:0px;
	text-align:left;
	/* dingdong */
	color:#fff;
	font-size:14px;
	font-weight:normal;
}



